cmake-build-debug
.idea
bin
/Sandbox/assets/
/.vs/Banana/copilot-chat/50f9ad74/sessions
/.vs/Banana/CopilotIndices/17.13.433.20974
/.vs/Banana/FileContentIndex
/.vs/Banana/v17
/out/build/x64-Debug
/.vs
/CMakeSettings.json
vcpkg_installed
